.game {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: clamp(3rem, 10vw, 5rem);
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 2rem;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game-info {
  font-size: 2rem;
  padding: 1rem 3rem;
  border-radius: 1rem;
  border: 1px solid white;
  margin: 1rem auto;
  text-align: center;
  display: inline-block;
}

.player-container {
  flex: 1 1 0;
  max-width: 40rem;
  padding-left: 3rem;
  padding-right: 3rem;
  opacity: 1;
  transition:
    opacity 400ms,
    transform 400ms;
}

.player-container.disableClick {
  pointer-events: none;
  opacity: 0.5;
  transform: scale(0.95);
}

.player-container.inactive {
  opacity: 0.3;
}

.player-info {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  text-align: center;
  padding-bottom: 0.5rem;
}

.player-info > h2 {
  font-size: clamp(1.5rem, 5vw, 2.5rem);
}

.player-info > p {
  font-size: clamp(1rem, 5vw, 1.5rem);
}

.board-wrapper {
  display: grid;
  grid-template-columns: 2rem 1fr;
  grid-template-rows: 1fr 2rem;
  width: 100%;
}

.bottom-cords {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  padding-top: 1rem;
}

.side-cords {
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  padding-right: 1rem;
}

.cord {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  aspect-ratio: 1 / 1;
}

.cell {
  background: rgb(25, 25, 52);
  border: 1px solid rgb(204, 205, 205);
}

.cell.valid {
  background: green;
  box-shadow: 0rem 0rem 0.2rem green;
}

.cell.invalid {
  background: red;
  box-shadow: 0rem 0rem 0.2rem red;
}

.cell.ship {
  background: green;
}

.cell.miss {
  background: grey;
}

.cell.hit {
  background: red;
}
