.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  background: radial-gradient(
    circle at center,
    rgb(7, 7, 37) 0%,
    rgb(14, 14, 15) 100%
  );
  z-index: 1;
  border-radius: 1rem;
  padding: clamp(2rem, 10vw, 3rem) clamp(2rem, 10vw, 5rem);
  transform: translate(-50%, -50%) scale(0);
}

.opp-selection-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 2rem;
}

.opponents-container {
  display: flex;
  gap: clamp(3rem, 5vw, 10rem);
  align-items: center;
  justify-content: center;
}

.opponent-header {
  font-size: clamp(1rem, 5vw, 2rem);
}

.opponent {
  border: 1px solid white;
  flex: 1 1 0;
  min-width: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 14rem;
  transition: transform 0.3s;
  padding: 1rem;
  border-radius: 1rem;
}

.player-option {
  aspect-ratio: 1 / 1;
}

.exit-button {
  width: 3rem;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.opponent:hover {
  transform: scale(.97);
}

.modal.show {
  animation: appear 1.5s;
  animation-fill-mode: forwards;
}

@keyframes appear {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  65% {
    transform: translate(-50%, -50%) scale(1.05);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}