* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

img {
  display: block;
  width: 100%;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: radial-gradient(
    circle at center,
    rgb(18, 18, 88) 0%,
    #0f0f0f 100%
  );
}

.header {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: clamp(1.5rem, 5vw, 2.5rem);
  border-bottom: 1px solid white;
  padding: 1rem;
}

.header-icon {
  width: 3rem;
}

.github-icon {
  position: absolute;
  right: 1rem;
  transition: transform 0.45s;
}

.github-icon:hover {
  transform: scale(1.15) rotate(1turn);
}
